* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f1e6ecdb;;
}

.logo_fiore{
    width: 80px;
}

.dropdown{
    align-self: center;
}

.btn_menu{
    color: #fff;
    background-color: #e3b5d9;
    border-color: #edd6ed;
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
}

.dropdown-toggle::after{
    display:none;
}

.btn_menu:hover{
    color: #e3b5d9;
    background-color: #fff;
    border-color: #f5a9f5;
}

.menu-general{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, label{
    font-size: 14px;
    margin: 5px;
    font-family: 'Amatic SC', cursive;
}

h2{
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}
.container_logo{
    text-align: end;
}

.container_slogan{
    border-radius: 16px;
    width: 80%;
    text-align: center;
    background-color: #f698ed29;
    padding: 10px;
    margin: 20px auto;
}


p{
    font-family: 'Amatic SC', cursive;
    margin: 10px auto;
    font-size: 20px;
}

.container_slider{
    width: 80%;
    margin: 0 auto;
    align-self: center;
}
.card_home{
    max-width: 540px;
    margin: 10px auto;
}

.separator_icon{
    color: #ce3971ed;
    font-size: 30px!important;
    margin: 15px 0;
    text-align: center;
}

h3{
    font-size: 16px;
    margin: 20px 10px;
    font-family: 'Amatic SC', cursive;
}

.text_card_home{   
    font-family: 'Kalam', cursive;
    font-size: 16px;
    color: #f5a9f5;
}

.card_title_home{
    text-align: center;
    margin: 10px;
}
.no-gutters{
    padding: 10px 15px;
}

li{
    line-height: 1;
    list-style: none;
    font-size: 14px;
    font-family: 'Kalam', cursive;
    text-align: center;
    margin: 10px 0;
}

a{
    color: #000;
}

a:visited {
    color: black;  
    text-decoration: none 
}

a:link{
    text-decoration: none
}


footer{
    position: absolute;
    align-items: center;
    right: 25px;
}

/*Page Accesories */
.card_products{
    margin: 30px 0;
    min-width: 300px;
    max-width: 300px;
}
.btn_buy{
    background: #eb93c1;
    border-radius: 8px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
}

.btn_buy:hover{
    color:#fff;
}

.btn_buy:focus{
    box-shadow: 0 0 0 0.2rem rgb(229 190 233 / 66%);
}
.text_404{
    width: 50%;
    text-align-last: center;
    align-self: center;
}
.img_404{
    width: 40%;
    margin: 0 auto;
}

.cursor{
    cursor: pointer;
}

.container_list_tips{    
    width: 30%;
    background: #fec5e9a8;
    align-self: center;
    margin: 0 auto;
}

.container_list_tips nav ul li{
    font-size: 30px;
    margin: 10px 0;
}

.card_tips{
    max-width: 640px;
}

.card_tips .no-gutters .col-md-8{
    align-self: center;
}
.container_tips{
    height: 590px;
    overflow-y: scroll;
}
.container_btn_contact{
    width: 50%;
    margin: 0 auto;
}
fieldset{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


/*media queries*/
@media only screen and (min-width: 768px) and (max-width: 992px){
    h2 {
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
    }

    p {
        padding: 10px 45px;
        font-size: 24px;
    }

    .card_home {
        margin: 10px auto;
    }

    h3 {
        font-size: 20px;
    }

    .card_title_home {
        line-height: 1;
    }   
    
    .container_tips {
        height: fit-content;
        overflow-y: visible;
        text-align: -webkit-center;
    }
    
}
@media only screen and (min-width: 992px) {
    body {
        padding: 35px;
    }

    h1, label{
        font-size: 40px;
    }

    h2{
        font-size: 32px;
    }

    h3{
        font-size: 28px;
    }

    p{
        font-size: 24px;
    }

    .container_slogan {
        align-self: end;
        height: fit-content;
        width: 80%;
        text-align: center;
        padding: 10px;
        margin: 20px auto;
    }
    .container_slider {
        width: 60%;
    }

    .logo_fiore {
        width: 120px;
    }

}
@media only screen and (max-width: 768px) {
    .text_404 {
        width: 50%;
        margin: 0 auto;
    }

    .container_tips {
        height: fit-content;
        overflow-y: visible;
        text-align: -webkit-center;
    }

    .img_card_tips{
        width: 300px;
    }

    .card-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

}



